In [3]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

In [5]:
file_path = Path("csv/merged.csv")
merged_df = pd.read_csv(file_path)
merged_df.head(100)

,Unnamed: 0,BTC,ETH,BNB,ADA,SOL
0,NaN,close,close,close,close,close
1,DATE,NaN,NaN,NaN,NaN,NaN
2,2022-01-26,36870.440166930995,2470.4304120157067,376.4547135125805,1.078198211113442,92.24801292004712
3,2022-01-27,37276.839558174994,2411.863855325421,391.3431655632998,1.0478747698291457,89.60158614183815
4,2022-01-28,37852.57902803263,2551.1110735194716,386.6374670963409,1.0529690590987757,91.42580267920562
5,2022-01-29,38232.17873217708,2603.603872339056,390.1593565970201,1.0634305674041453,96.17869128153504
6,2022-01-30,37983.151499406464,2610.1824055910874,378.3370193560595,1.0391204356438395,93.40252902879779
7,2022-01-31,38555.53446121157,2689.2208672204492,376.51047776345945,1.054751014934754,99.88984753621435
8,2022-02-01,38835.69494322237,2797.434855273681,386.42137000970774,1.0903286876813183,110.12732330616494
9,2022-02-02,37000.98249864199,2690.319739476765,367.78060888976273,1.0314534223683853,101.8292164519742
10,2022-02-03,37101.351593780935,2667.256728215686,370.67591619482783,1.0564237774530993,100.87832034717168
11,2022-02-04,41673.8395543094,2993.0994395135976,400.05369289690856,1.1338483100323715,112.48079518340074
12,2022-02-05,41491.30602070538,3020.893313733165,419.75318417542735,1.1445933740959702,114.94709863184629