In [132]:
import pandas as pd
import numpy as np
from pathlib import Path
import panel as pn
from panel.interact import interact
import plotly.express as px
pn.extension("plotly")
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
import requests
import json

from datetime import datetime
import alpaca_trade_api as tradeapi

from dotenv import load_dotenv
%matplotlib inline

from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [133]:
cg.get_price(ids='bitcoin', vs_currencies='usd')

{'bitcoin': {'usd': 38337}}

In [176]:
 btc = requests.get('https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=10&interval=daily')

In [177]:
btc = btc.json()
btc

{'prices': [[1642896000000, 35180.435462830384],
  [1642982400000, 36306.409440464704],
  [1643068800000, 36774.00714224005],
  [1643155200000, 36988.928510667356],
  [1643241600000, 36870.440166930995],
  [1643328000000, 37276.839558174994],
  [1643414400000, 37852.57902803263],
  [1643500800000, 38232.17873217708],
  [1643587200000, 37983.151499406464],
  [1643673600000, 38555.53446121157],
  [1643681150000, 38304.15901331096]],
 'market_caps': [[1642896000000, 666220701468.4846],
  [1642982400000, 687575973800.0704],
  [1643068800000, 696465421899.37],
  [1643155200000, 700571452648.8236],
  [1643241600000, 700165819656.2855],
  [1643328000000, 702311456032.8538],
  [1643414400000, 717026944842.8334],
  [1643500800000, 722829009646.1814],
  [1643587200000, 719570142321.8397],
  [1643673600000, 727905398095.9747],
  [1643681150000, 725923113139.0083]],
 'total_volumes': [[1642896000000, 35517336417.257744],
  [1642982400000, 22865032968.608204],
  [1643068800000, 36385158448.60688],
  [1643155200000, 46168918584.85349],
  [1643241600000, 26756873749.744743],
  [1643328000000, 22057410457.280827],
  [1643414400000, 19214103304.052933],
  [1643500800000, 14178650231.62196],
  [1643587200000, 11807185113.633108],
  [1643673600000, 17731563487.283978],
  [1643681150000, 16487709192.323862]]}

In [178]:
btc_price = btc['prices']
btc_price

[[1642896000000, 35180.435462830384],
 [1642982400000, 36306.409440464704],
 [1643068800000, 36774.00714224005],
 [1643155200000, 36988.928510667356],
 [1643241600000, 36870.440166930995],
 [1643328000000, 37276.839558174994],
 [1643414400000, 37852.57902803263],
 [1643500800000, 38232.17873217708],
 [1643587200000, 37983.151499406464],
 [1643673600000, 38555.53446121157],
 [1643681150000, 38304.15901331096]]

In [179]:
btc.keys()

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [180]:
type(btc['prices'][0])

list

In [181]:
#dataframe
df = pd.DataFrame(btc_price, columns = ['DATE','PRICE' ])
 
df

             DATE         PRICE
0   1642896000000  35180.435463
1   1642982400000  36306.409440
2   1643068800000  36774.007142
3   1643155200000  36988.928511
4   1643241600000  36870.440167
5   1643328000000  37276.839558
6   1643414400000  37852.579028
7   1643500800000  38232.178732
8   1643587200000  37983.151499
9   1643673600000  38555.534461
10  1643681150000  38304.159013

In [182]:
#loop
#drop values
unix_list= []
for i in df['DATE']:
    i = str(i)
    i= i[0:10]
    i = int(i)
    i = datetime.utcfromtimestamp(i).strftime('%Y-%m-%d')
    unix_list.append(i)
    
unix_list

['2022-01-23',
 '2022-01-24',
 '2022-01-25',
 '2022-01-26',
 '2022-01-27',
 '2022-01-28',
 '2022-01-29',
 '2022-01-30',
 '2022-01-31',
 '2022-02-01',
 '2022-02-01']

In [183]:
df['DATE']= unix_list
df['DATE'].head()

0    2022-01-23
1    2022-01-24
2    2022-01-25
3    2022-01-26
4    2022-01-27
Name: DATE, dtype: object

In [184]:
df

          DATE         PRICE
0   2022-01-23  35180.435463
1   2022-01-24  36306.409440
2   2022-01-25  36774.007142
3   2022-01-26  36988.928511
4   2022-01-27  36870.440167
5   2022-01-28  37276.839558
6   2022-01-29  37852.579028
7   2022-01-30  38232.178732
8   2022-01-31  37983.151499
9   2022-02-01  38555.534461
10  2022-02-01  38304.159013

In [ ]:
df['DataFrame Column'] = df['DataFrame Column'].apply(str)